#projets {
	display: flex;
	flex-direction: row;
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	overflow-x: hidden;
}

.card-body-img {
	background-color: var(--color-light) !important;
}

.card-text {
	display: flex;
	flex-direction: column;
	background-color: var(--color-bg-variant);
	display: inline-grid;
	place-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.lien-projet {
	width: 3rem;
	height: 3rem;
	background-color: var(--color-white);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 200ms ease-in;
}

.lien-projet:hover{
	color: var(--color-bg);
}

.titre-projet {
	text-align: center;	
}

.titre-projets-section{
	position: absolute;
	text-align: center;
	top: 1rem;
}
.titre-projets-section > h2 svg{
	color: var(--color-primary);
	margin: auto;
}

.titre-projets-section > h5 {
	color: var(--color-light);
}

.icons {
	font-size: 2.5rem;
	margin-right: 5px;
}

.icons-lien {
	font-size: 1.5rem;
	margin-right: 10px;
	justify-self: end;
	gap:1rem;
}


.icons>div {
	margin-right: 20px;
}

.footer-card {
	justify-self: end;
	margin-right: 20px;
}

.projects {
	flex-direction: column;
	justify-content: center;
}

.imgweb {
	width: 430px !important;
	height: fit-content;
	margin-right: 30px;
	pointer-events: none;
}

.imgmobile {
	max-width: 120px;
	margin-right: 80px;
	margin-left: 30px;
	pointer-events: none;
}

.card-visuel {
	background-color: white;
	align-items: center;
	padding-top: 10px;
	justify-content: center;
}


.item {
	margin-right: 20px;
	max-width: 50rem;
}

.inner-carrousel {
	display: flex;
	overflow: hidden;
	width: max-content;
}

.carrousel {
	flex-basis: 200vw;
	cursor: grab;
	width: fit-content;
	margin: auto;
	overflow: hidden;
}


.curtain {
	width: 50%;
	height: 90vh;
	float: left;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.curtain-left {
	animation-name: go-left;

}

.curtain-right {
	animation-name: go-right;
}

@keyframes go-left {
	0% {
		transform: translate(0%, 0%);
	}

	100% {
		transform: translate(-70%, 0%);
	}
}

@keyframes go-right {
	0% {
		transform: translate(0%, 0%);
	}

	100% {
		transform: translate(70%, 0%);
	}
}

.curtain-element {
	width: 10%;
	height: 100%;
	float: left;
	border-bottom-right-radius: 67px;
	border-bottom-left-radius: 67px;
}

.curtain-element>h5 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.curtain-element>h5 svg{
	margin: auto;
}

.title-service {
	margin-top: 15vh;
}

.item:nth-child(6){
	visibility: hidden;
}

/* Alternating color of curtain pieces */

.curtain-element:nth-child(odd),
.curtain-right .curtain-element:nth-child(even) {
	background-color: transparent;
}

.curtain-element:nth-child(even),
.curtain-right .curtain-element:nth-child(odd) {
	background-color: var(--color-bg-variant);
}

@media screen and (max-width: 600px) {

	.curtain {
		display: none;
	}

	.carrousel {
		cursor: none !important;
		flex-basis: initial;
		margin: 15%;
	}


	.item {
		margin-right: initial;
	}

	.imgweb {
		display: none;
	}

	.imgmobile {
		width: auto;
		height: 500px;
		max-width: none !important;
		margin: 1rem auto;
	}

	.text-projet {
		display: none;
	}

	.card-visuel {
		justify-content: center;
	}

	#projets {
		height: auto;
		margin-bottom: 5rem;
	}

	.inner-carrousel {
		display: flex;
		flex-wrap: wrap;
		width: initial;
		justify-content: center;
		gap: 3rem;
	}

	.titre-projets-section{
		display: none;
	}
}

@media (orientation: landscape) and (max-height: 575.98px) and (hover: none) and (pointer: coarse) {
	/* your CSS to target only landscape mobile users   */

	.curtain-left,
	.curtain-right {
		display: none;
	}


	.card-visuel {
		display: none;
	}

	.card-text,
	.card-visuel {
		width: 400px;
	}

	.text-projet {
		display: none;
	}

	.inner-carrousel {
		display: flex;
		flex-wrap: wrap;
		width: initial;
		justify-content: center;
		gap: 3rem;
	}

	.carrousel {
		cursor: none !important;
	}


}