#projets{
	margin: 0 auto!important;
    padding: 0 !important;
    left: 0;
    position: absolute;
    width: 100vw;
	display: flex;
    overflow: hidden;
}

.card-body-img{
	background-color: var(--color-light) !important;
}

.card-text{
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-variant);
    display: inline-grid;
    place-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.lien-projet{
	width: 3rem;
    height: 3rem;
    background-color: #8F4700;
	border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 200ms ease-in;
}

.icons{
	font-size: 2.5rem;
	margin-right: 5px;
}

.icons-lien {
	font-size: 1.5rem ;
	margin-right: 10px;
	justify-self: end;
}

.icons  > div{
margin-right: 20px;
}

.footer-card{
	justify-self: end;
	margin-right: 20px;
}

.projects{
	flex-direction: column;
	justify-content: center;
}

.imgweb{
	width: 430px !important;
    height: fit-content;
	margin-right: 30px;
	pointer-events: none;
}

.imgmobile{
	max-width: 120px;
	margin-right: 80px;
	margin-left: 30px;
	pointer-events: none;
}

.card-visuel{
	background-color: white;
	align-items: center;
	padding-top: 10px;
}


.item{
	margin-right: 20px;
}

.inner-carrousel{
	display: flex;
	overflow: hidden;
	width: max-content;
}

.carrousel{
	flex-basis:200vw ;
	cursor: grab;
	width: fit-content;
	margin:  auto;
	overflow: hidden;
}


.curtain {
    width: 50%;
    height: 90vh;
    float: left;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.curtain-left {
    animation-name: go-left;

}

.curtain-right {
    animation-name: go-right;
}

@keyframes go-left {
    0% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(-70%, 0%);
    }
}

@keyframes go-right {
    0% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(70%, 0%);
    }
}

.curtain-element {
    width: 10%;
    height: 100%;
    float: left;
    border-bottom-right-radius: 67px;
    border-bottom-left-radius: 67px;
}

.curtain-element > h5 {
    text-align: center;
}

.title-service{
    margin-top: 15vh;
}

/* Alternating color of curtain pieces */

.curtain-element:nth-child(odd),.curtain-right .curtain-element:nth-child(even) {
    background-color: transparent;
}

.curtain-element:nth-child(even), .curtain-right .curtain-element:nth-child(odd) {
    background-color: var(--color-bg-variant);
}

@media screen and (max-width: 600px) {

    .curtain{
        display: none;
    }

    .carrousel{
        cursor: none !important;
        flex-basis: initial;
        margin: 15%;
    }


    .item{
        margin-right: initial;
    }

    .imgweb{
        display: none;
    }

    .imgmobile{
        max-width: fit-content;
        margin: 1rem auto;
    }

    .text-projet{
        display: none;
    }
    
    .card-visuel{
        justify-content: center;
    }

    #projets{
        height: auto;
        position: initial;
        width: initial;
        margin-bottom: 5rem !important;
    }

    .inner-carrousel{
        display: flex;
        flex-wrap: wrap;
        width: initial;
        justify-content: center;
        gap: 3rem;
    }
}

@media (orientation: landscape)  and (hover: none) and (pointer: coarse) {
    /* your CSS to target only landscape mobile users   */
    
    #projets {
      margin: 5rem auto !important;
  }
  
  .curtain-left,.curtain-right{
    display: none;
  }

  .imgmobile{
    display: none;
  }

  .imgweb{
    margin-right: initial;
  }

  .card-visuel{
    justify-content: center;
  }

  .card-text,.card-visuel{
    width: 400px;
  }
  
  .text-projet{
    display: none;
  }

  .inner-carrousel{
    display: flex;
    flex-wrap: wrap;
    width: initial;
    justify-content: center;
    gap: 3rem;
}

    .carrousel{
        cursor: none !important;
    }


  } 