.custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  display: contents;
  height: 100px;
}

.back-separator-2{
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  /* height: 91px; */
  margin-top: 100vh;
  left: 50%;
}

.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 81px;
  background-color: #1A1A30;
}

.custom-shape-divider-top .shape-fill {
  fill: #fff;
}