.custom-shape-divider-top-1673903595 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  display: contents;
  height: 100px;
}

.back-separator{
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  /* height: 91px; */
  margin-top: 100px;
  left: 50%;
}

.custom-shape-divider-top-1673903595 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 81px;
  background-color: #fff;
}

.custom-shape-divider-top-1673903595 .shape-fill {
  fill: #1A1A30;
}