#root > div > section.portfolio > div > div:nth-child(2) > span,
#root > div > section.portfolio > div > div:nth-child(4) > span,
#root > div > section.portfolio > div > div:nth-child(6) > span,
#root > div > section.portfolio > div > div:nth-child(5) > span{
    background: #ba0f0f !important;
    
}

#root > div > section.portfolio > div > div > div{
    background: #2c2c6c !important;
}


#root > div > section.portfolio > div > div:nth-child(1) > span,
#root > div > section.portfolio > div > div:nth-child(3) > span{
    background: #2c2c6c !important;
    
}

.vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content-arrow,
.vertical-timeline--two-columns .vertical-timeline-element-content-arrow {
    top:30px !important;
}

@media screen and (max-width: 600px) {

    .portfolio{
        height: auto;
        margin-bottom: 5rem;
    }

    .css-2ulfj5-MuiTypography-root{
        font-size: initial !important;
    }

    .css-ahj2mt-MuiTypography-root{
        font-size:small  !important;
    }

    .css-1ami7lv-MuiTimelineConnector-root{
        background-color: black;
    }
}