.footer{
    position: absolute;
    /* top: 1px; */
    left: 0;
    MARGIN-TOP: 50rem;}

.footer-section{
    display: flex;
    flex-direction: row;
    height: 10vh;
    background: linear-gradient(45deg, black, transparent);
    bottom: 0;
    margin-left: -1rem;
    width: 100vw;
}

.copyright , .footer-links{
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-footer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.blank-div{
    width: 30vw;
}

@media screen and (max-width:600px){

    .footer{
        display: none;
    }

}

@media (orientation: landscape) and (hover: none) and (pointer: coarse)  {
    /* your CSS to target only landscape mobile users */

    .footer{
        margin-top: 100rem;
    }
    }